@font-face {
  font-family: 'Manrope';
  font-weight: 400;
  src: url('/assets/Manrope-Regular.ttf') format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  font-weight: 700;
  src: url('/assets/Manrope-Bold.ttf') format('ttf');
  font-style: normal;
}
